.footer{
    hr{
        margin-bottom: 5rem;
    }
    margin-top: 3rem;
    padding-top: 5rem;
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        h4{
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        span{
            display: block;
            margin-block: 1rem;
            opacity: .8;
            cursor: pointer;
        }
    }
    .footer-bottom{
        margin-top: 2rem;
        padding-block: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #535353;
        border-top: 2px solid #00000039;
        .left{
            display: flex;
            align-items: center;
            gap: 4rem;
            h2{
                font-size: 2rem;
            }
        }
        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            .social{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-right: 4rem;
            }
            .link{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}