@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html , body{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
.container{
    max-width: 1380px;
    margin-inline: auto;
    padding-inline: .75rem;
}
a{
    text-decoration: none;
    color: inherit;
}